parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$associative of function get_headers expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: api/handlers/bans.php

		-
			message: '#^Variable \$userbank might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: exportbans.php

		-
			message: '#^Call to method assign\(\) on an unknown class Smarty\.$#'
			identifier: class.notFound
			count: 2
			path: includes/AdminTabs.php

		-
			message: '#^Call to method display\(\) on an unknown class Smarty\.$#'
			identifier: class.notFound
			count: 1
			path: includes/AdminTabs.php

		-
			message: '#^Parameter \$theme of method AdminTabs\:\:__construct\(\) has invalid type Smarty\.$#'
			identifier: class.notFound
			count: 1
			path: includes/AdminTabs.php

		-
			message: '#^Call to an undefined method Lcobucci\\JWT\\Token\:\:claims\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/CUserManager.php

		-
			message: '#^Call to function is_null\(\) with null will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: includes/CUserManager.php

		-
			message: '#^Call to function is_numeric\(\) with int\<min, \-1\>\|int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: includes/CUserManager.php

		-
			message: '#^PHPDoc tag @return has invalid value \(mixed\.\)\: Unexpected token "\.", expected TOKEN_HORIZONTAL_WS at offset 172 on line 6$#'
			identifier: phpDoc.parseError
			count: 1
			path: includes/CUserManager.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: includes/CUserManager.php

		-
			message: '#^Offset int\<0, max\> on array\{function\: string, line\?\: int, file\?\: string, class\?\: class\-string, type\?\: ''\-\>''\|''\:\:'', args\?\: list\<mixed\>, object\?\: object\} in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: includes/Log.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$search$#'
			identifier: parameter.notFound
			count: 1
			path: includes/Log.php

		-
			message: '#^Parameter \#1 \$hour of function mktime expects int, string given\.$#'
			identifier: argument.type
			count: 4
			path: includes/Log.php

		-
			message: '#^Parameter \#2 \$minute of function mktime expects int\|null, string given\.$#'
			identifier: argument.type
			count: 4
			path: includes/Log.php

		-
			message: '#^Constant SB_THEME not found\.$#'
			identifier: constant.notFound
			count: 2
			path: includes/Mail/Mail.php

		-
			message: '#^PHPDoc tag @param has invalid value \(Smarty\)\: Unexpected token "\\n \* ", expected variable at offset 261 on line 10$#'
			identifier: phpDoc.parseError
			count: 1
			path: includes/SmartyCustomFunctions.php

		-
			message: '#^PHPDoc tag @param has invalid value \(Smarty\)\: Unexpected token "\\n \* ", expected variable at offset 295 on line 10$#'
			identifier: phpDoc.parseError
			count: 1
			path: includes/SmartyCustomFunctions.php

		-
			message: '#^PHPDoc tag @param has invalid value \(array\)\: Unexpected token "\\n \* ", expected variable at offset 244 on line 9$#'
			identifier: phpDoc.parseError
			count: 1
			path: includes/SmartyCustomFunctions.php

		-
			message: '#^PHPDoc tag @param has invalid value \(array\)\: Unexpected token "\\n \* ", expected variable at offset 278 on line 9$#'
			identifier: phpDoc.parseError
			count: 1
			path: includes/SmartyCustomFunctions.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$params$#'
			identifier: parameter.notFound
			count: 2
			path: includes/SmartyCustomFunctions.php

		-
			message: '#^Parameter \#2 \$num2 of function bcdiv expects string, int given\.$#'
			identifier: argument.type
			count: 2
			path: includes/SteamID/calc/BCMATH.php

		-
			message: '#^Parameter \#2 \$num2 of function bcmod expects string, int given\.$#'
			identifier: argument.type
			count: 2
			path: includes/SteamID/calc/BCMATH.php

		-
			message: '#^Parameter \#2 \$num2 of function bcmul expects numeric\-string, 2 given\.$#'
			identifier: argument.type
			count: 2
			path: includes/SteamID/calc/BCMATH.php

		-
			message: '#^Property Sbpp\\View\\AdminFeaturesView\:\:\$can_owner is never referenced in template "page_admin_settings_features\.tpl"\.$#'
			identifier: sbpp.view.unusedProperty
			count: 1
			path: includes/View/AdminFeaturesView.php

		-
			message: '#^Property Sbpp\\View\\AdminSettingsView\:\:\$can_owner is never referenced in template "page_admin_settings_settings\.tpl"\.$#'
			identifier: sbpp.view.unusedProperty
			count: 1
			path: includes/View/AdminSettingsView.php

		-
			message: '#^Property Sbpp\\View\\AdminThemesView\:\:\$can_owner is never referenced in template "page_admin_settings_themes\.tpl"\.$#'
			identifier: sbpp.view.unusedProperty
			count: 1
			path: includes/View/AdminThemesView.php

		-
			message: '#^Property Sbpp\\View\\HomeDashboardView\:\:\$opened_server is never referenced in template "page_dashboard\.tpl"\.$#'
			identifier: sbpp.view.unusedProperty
			count: 1
			path: includes/View/HomeDashboardView.php

		-
			message: '#^Call to an undefined method Lcobucci\\JWT\\Token\:\:claims\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/auth/Auth.php

		-
			message: '#^Static method Auth\:\:getTokenSecret\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: includes/auth/Auth.php

		-
			message: '#^Static method Auth\:\:insertNewToken\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: includes/auth/Auth.php

		-
			message: '#^Call to an undefined method Lcobucci\\JWT\\Token\:\:claims\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/auth/JWT.php

		-
			message: '#^Method JWT\:\:create\(\) should return Lcobucci\\JWT\\Token\\Plain but returns Lcobucci\\JWT\\UnencryptedToken\.$#'
			identifier: return.type
			count: 1
			path: includes/auth/JWT.php

		-
			message: '#^Parameter \#1 \$contents of static method Lcobucci\\JWT\\Signer\\Key\\InMemory\:\:base64Encoded\(\) expects non\-empty\-string, '''' given\.$#'
			identifier: argument.type
			count: 1
			path: includes/auth/JWT.php

		-
			message: '#^Unsafe call to private method JWT\:\:getConfig\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 1
			path: includes/auth/JWT.php

		-
			message: '#^Variable \$password in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: includes/auth/handler/NormalAuthHandler.php

		-
			message: '#^Access to property \$data on an unknown class LightOpenID\.$#'
			identifier: class.notFound
			count: 1
			path: includes/auth/handler/SteamAuthHandler.php

		-
			message: '#^Access to property \$identity on an unknown class LightOpenID\.$#'
			identifier: class.notFound
			count: 3
			path: includes/auth/handler/SteamAuthHandler.php

		-
			message: '#^Access to property \$mode on an unknown class LightOpenID\.$#'
			identifier: class.notFound
			count: 1
			path: includes/auth/handler/SteamAuthHandler.php

		-
			message: '#^Call to method authUrl\(\) on an unknown class LightOpenID\.$#'
			identifier: class.notFound
			count: 1
			path: includes/auth/handler/SteamAuthHandler.php

		-
			message: '#^Call to method validate\(\) on an unknown class LightOpenID\.$#'
			identifier: class.notFound
			count: 1
			path: includes/auth/handler/SteamAuthHandler.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: includes/auth/handler/SteamAuthHandler.php

		-
			message: '#^Parameter \$openid of method SteamAuthHandler\:\:__construct\(\) has invalid type LightOpenID\.$#'
			identifier: class.notFound
			count: 1
			path: includes/auth/handler/SteamAuthHandler.php

		-
			message: '#^Property SteamAuthHandler\:\:\$openid has unknown class LightOpenID as its type\.$#'
			identifier: class.notFound
			count: 1
			path: includes/auth/handler/SteamAuthHandler.php

		-
			message: '#^Instantiated class LightOpenID not found\.$#'
			identifier: class.notFound
			count: 1
			path: includes/page-builder.php

		-
			message: '#^PHPDoc tag @param for parameter \$title with type null is incompatible with native type string\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: includes/page-builder.php

		-
			message: '#^Function SecondsToString\(\) never returns false so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: includes/system-functions.php

		-
			message: '#^Invalid array key type float\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: includes/system-functions.php

		-
			message: '#^Function build invoked with 2 parameters, 3 required\.$#'
			identifier: arguments.count
			count: 1
			path: index.php

		-
			message: '#^Path in include_once\(\) "config\.php" is not a file or it does not exist\.$#'
			identifier: includeOnce.fileNotFound
			count: 1
			path: index.php

		-
			message: '#^Path in require_once\(\) "\.\./config\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: install/includes/converter.inc.php

		-
			message: '#^Path in require_once\(\) "\.\./includes/Database\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: install/includes/converter.inc.php

		-
			message: '#^Variable \$title might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: install/template/content.header.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: install/template/page.2.php

		-
			message: '#^Loose comparison using \!\= between 1 and \-1 will always evaluate to true\.$#'
			identifier: notEqual.alwaysTrue
			count: 1
			path: install/template/page.3.php

		-
			message: '#^Variable \$sql_version might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: install/template/page.3.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: install/template/page.5.php

		-
			message: '#^Variable \$errors might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: install/template/page.5.php

		-
			message: '#^Variable \$step might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: install/template/submenu.php

		-
			message: '#^Variable \$allservers might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: pages/admin.edit.admindetails.php

		-
			message: '#^Variable \$name might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: pages/admin.edit.admindetails.php

		-
			message: '#^Offset ''sg'' on non\-empty\-array\<mixed\> in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: pages/admin.edit.admingroup.php

		-
			message: '#^Offset ''wg'' on non\-empty\-array\<mixed\> in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: pages/admin.edit.admingroup.php

		-
			message: '#^Parameter \#1 \$string of function urlencode expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: pages/admin.edit.admingroup.php

		-
			message: '#^Variable \$theme might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: pages/admin.edit.adminperms.php

		-
			message: '#^Variable \$userbank might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: pages/admin.edit.adminservers.php

		-
			message: '#^Variable \$theme might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: pages/admin.edit.group.php

		-
			message: '#^Variable \$userbank might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: pages/admin.edit.group.php

		-
			message: '#^Variable \$userbank might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: pages/admin.edit.server.php

		-
			message: '#^Constant SB_THEME not found\.$#'
			identifier: constant.notFound
			count: 7
			path: pages/admin.settings.php

		-
			message: '#^Variable \$userbank might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: pages/admin.srvadmins.php

		-
			message: '#^Variable \$title might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: pages/core/header.php

		-
			message: '#^Variable \$title might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: pages/core/title.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: pages/page.banlist.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: pages/page.banlist.php

		-
			message: '#^Offset ''advSearch'' on non\-empty\-array\<mixed\> in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: pages/page.banlist.php

		-
			message: '#^Offset ''ub_reason'' on array\{ban_id\: mixed, country\: non\-falsy\-string, ban_date\: string, player\: string, type\: mixed, steamid\: mixed, communityid\: mixed, steamid3\: mixed, \.\.\.\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: pages/page.banlist.php

		-
			message: '#^Variable \$ctext in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: pages/page.banlist.php

		-
			message: '#^Variable \$res might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: pages/page.banlist.php

		-
			message: '#^Variable \$searchlink might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: pages/page.banlist.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 2
			path: pages/page.commslist.php

		-
			message: '#^Offset ''advSearch'' on non\-empty\-array\<mixed\> in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: pages/page.commslist.php

		-
			message: '#^Variable \$prev might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: pages/page.commslist.php

		-
			message: '#^Variable \$res might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: pages/page.commslist.php

		-
			message: '#^Right side of \|\| is always false\.$#'
			identifier: booleanOr.rightAlwaysFalse
			count: 1
			path: pages/page.lostpassword.php

		-
			message: '#^Variable \$errors in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 2
			path: sb_debug_connection.php

		-
			message: '#^Variable \$serverip in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: sb_debug_connection.php

		-
			message: '#^Variable \$serverport in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: sb_debug_connection.php

		-
			message: '#^Variable \$serverrcon in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: sb_debug_connection.php

		-
			message: '#^Parameter \#1 \$array of function array_pop is passed by reference, so it expects variables only\.$#'
			identifier: argument.byRef
			count: 1
			path: updater/Updater.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: updater/data/1.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 30
			path: updater/data/112.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 8
			path: updater/data/130.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 19
			path: updater/data/150.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 6
			path: updater/data/153.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/158.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: updater/data/160.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/165.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/171.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/175.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 8
			path: updater/data/176.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/179.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/189.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: updater/data/191.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 8
			path: updater/data/219.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: updater/data/241.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 15
			path: updater/data/291.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 15
			path: updater/data/295.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/342.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/350.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: updater/data/351.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 16
			path: updater/data/352.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/353.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/354.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 8
			path: updater/data/355.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/356.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: updater/data/475.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/476.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/555.php

		-
			message: '#^Parameter \#2 \$replace of function str_replace expects array\<string\>\|string, int given\.$#'
			identifier: argument.type
			count: 1
			path: updater/data/600.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 10
			path: updater/data/600.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/602.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/603.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 6
			path: updater/data/604.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 6
			path: updater/data/605.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 7
			path: updater/data/700.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/701.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/702.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: updater/data/703.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: updater/data/704.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/705.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: updater/data/801.php
